@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

@import url('https://fonts.googleapis.com/css?family=Sniglet|Raleway:900');

.modal-bg{
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: visibility 0s , opacity 0.5s;
}

.modal{
  background-color: #0C6FB2;
  height: 80%;
  width: 50%;
  position: relative;
  border-radius: 15px;
}

.can-btn{
  position: absolute;
  top: 20px;
  right: 25px;
  font-weight: bold ;
  cursor: pointer;
  size: 5px;
  font-size: 25px;
  color: #FFFFFF;
}

h3{
  font-weight: normal;
	font-size: 3.0em;
	font-family: 'Raleway', sans-serif;
	margin: 0 auto;
	margin-top: 10px;
	color: #FFFFFF;
	text-align: center;
}

.form{
	background-color: #0C6FB2;
	overflow: hidden;
  position: relative;
}

.submit-form{
  margin: 0 auto;
	width: 600px;
	
	position: relative;
}
 #title, #instructions{
	display: block;	
}
.assignment-label{
  display: block;
}
.assignment-label{
	font-size: 1.2em;
	margin-top: 15px;
  padding-left: 15px;
  float: left;
  color: #FFFFFF;
}
#title, #instructions{
	width: 100%;	
	border: none;
	border-radius: 20px;
	outline: none;
	padding: 10px;
      font-family: 'Raleway', sans-serif;
	font-size: 1.2em;
	transition: border 0.5s;
}
#title:focus, #instructions:focus{
	border: solid 3px #FFFFFF;	
}

#instructions{	
	overflow: auto;
}
.class-btn{

  margin-top: 2rem;
  padding: 10px 30px;
  font-weight: bold;
  background-color: #3FA2E5;
  color: white;
  border-radius: 25px;
  font-size: 18px;
      font-family: 'Raleway', sans-serif;
  transition: all 100ms;
  align-self: start;
  width: 100%;
  text-transform: uppercase;

}
.class-btn:hover {
    background-color: #05375F;
}
hr {
  border: 1px solid #FFFFFF;
}
/* .react-date-picker{
  color: #FFFFFF;
  width: 50%;
  border: none;
  background-color: #FFFFFF;
  border-radius: 20px;
  height: 40px;
 
}
.react-date-picker__inputGroup{
  border: none;
  background-color: #FFFFFF;
  color: black;
  font-size: 1em;
}

.react-date-picker__wrapper{
  border-radius: 10px;
  border: none;
	outline: none;
	padding: 10px;
	font-family: 'Sniglet', cursive;
	font-size: 1em;
  transition: border 0.5s;
  background-color: #FFFFFF;
  float: right;
  border-radius: 20px;
}
.react-calendar__viewContainer{
  color: rgb(2, 119, 189);
  border-radius: 40px;
}
.react-calendar__navigation{
  background: rgb(2, 119, 189);;
}
.react-date-picker__calendar-button__icon{
  stroke: #05375F;
  margin-bottom: 5px;
}

.react-date-picker__clear-button__icon{
  stroke: #05375F;
  margin-bottom: 5px;
} */
#grade{
	width: 280px;
	border: none;
	border-radius: 20px;
	outline: none;
	padding: 10px;
	      font-family: 'Raleway', sans-serif;
	font-size: 1.2em;
  transition: border 0.5s;
  margin-right: 30px;
  float: left;
}
.last-col{
  width: 100%;
  overflow: hidden;
}

#DueDateLabel{
  float: left;
  padding-left: 43%;
    
}

#dueDate{
	width: 280px;	
	border: none;
	border-radius: 20px;
	outline: none;
	padding: 10px;
	      font-family: 'Raleway', sans-serif;
	font-size: 1.2em;
  transition: border 0.5s;
  margin-left: 10px;
  float: left;
}
@media only screen and (max-height: 800px) {
   .modal{
    
    height: 80%;
    
  }

 

  #instructions{
    height: 75px;
  }
}