.assignment-container {
    width: 100%;
    height: 50px;
    border-radius: 10px;
    box-shadow: 2.5px 2.5px 15px 3.5px rgba(0,0,0,0.25), -2.5px -2.5px 15px 3.5px rgba(0,0,0,0.22); 
    cursor: pointer;
  }

  .assignment-container:hover {
    transform: scale(1, 0.9);
    box-shadow: 3px 3px 3px 3px rgba(0,0,0,0.189), 
      -3px -3px 3px 3px rgba(0,0,0,0.189);   
  }
  
  .assignment-title {
    color: rgb(2, 119, 189);
    font-size: 16px;
    float: left;
    padding-left: 15px;
  }
  .assignment-image{
    width: 40px;
    height: 40px;
    float: left;
    padding-left: 10px;
    padding-top: 15px;
    color: rgb(2, 119, 189);
  }
  .Assignment-Date{
    color: rgb(2, 119, 189);
    font-size: 12px;
    float: right;
    padding-right: 10px;
    padding-top: 15px;
    font-weight: bold;
  }