
.StuSideNav{
   float: left;
   height: 100vh;
   border-right: 1px solid #BDBDBD;
}
.studashinfo{
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
}
.studashleft {
    padding-left: 7%;
    padding-top: 2%;
}
.studashright {
    padding-left: 13%;
    padding-top: 2%;
}
.studashleft h2, .studashright h2{
    font-size: 30px;
    color: #053259;
    text-align: start;
}
.stuass {
    width: 30vw;
    height: 4.5vw;
    border: 1px solid rgba(45, 148, 216, 1);
    border-radius: 7px;
    margin-top: 4%;
    position: relative;
}
.stuass:hover{
    transition: 0.2s;
    -webkit-box-shadow: 11px 11px 74px -27px rgba(0,0,0,0.65);
    -moz-box-shadow: 11px 11px 74px -27px rgba(0,0,0,0.65);
    box-shadow: 11px 11px 74px -27px rgba(0,0,0,0.65);
}
.stusub {
    width: 30vw;
    height: 4.5vw;
    border: 1px solid rgba(45, 148, 216, 1);
    border-radius: 7px;
    margin-top: 4%;
}
.stusub:hover{
    transition: 0.15s;
    -webkit-box-shadow: 11px 11px 74px -27px rgba(0,0,0,0.65);
    -moz-box-shadow: 11px 11px 74px -27px rgba(0,0,0,0.65);
    box-shadow: 11px 11px 74px -27px rgba(0,0,0,0.65);
}
.viewreq-btn {
  background-color: rgba(45, 148, 216, 1);
  height: 20px;
  width: 125px;
  font-size: 11px;
  color: #fff;
  border: none;
  z-index: 20;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  border-radius: 50px;
  position:relative;
  margin-top: 2%;
  margin-right: -70.5%;
  transition: 0.15s;

}.viewreq-btn:hover  {
   width: 145px;
}
.viewreq-btn:focus {
   outline:0;
    
}
.viewreq-btn:active .assname,
.viewreq-btn:active ~ .assname {
    font-size: 100px;    
}
.assname {
    text-align: start;
    margin-left: 4%;
    margin-top: 2%;
}
.reqpopup {
    position: absolute;
    top:0;
    left:0;
}
.blur {
    top:0;
    left:0;
    display: auto;
    width:100vw;
    height:100vh;
    opacity:0.4;
    filter:alpha(opacity=50);  
    background:black;
    z-index:100;
    position: absolute;
}
.reqinfo {
    display: auto;
    background:white;
    z-index:101;   
    height: 200px;
    width: 200px;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: 44vw;
    margin-top: 30vh;
}



