
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   list-style: none;
   text-decoration: none;
   font-family: 'Josefin Sans', sans-serif;
}
 
 body{
    background-color: #f3f5f9;
 }
 
 .wrapper{
   display: flex;
   position: absolute;
 }
 
 .wrapper .sidebar{
   width: 230px;
   height: 100%;
   /* background: lightgrey; */
   padding: 10px 0px;
   position: absolute;
 }
 
 .wrapper .sidebar h4{
   color: #053259;
   text-align: center;
   margin-bottom: 10px;
 }
 
 .wrapper .sidebar ul li{
   padding: 15px;
   border-bottom: 1px solid #bdb8d7;
   border-bottom: 1px solid rgba(0,0,0,0.05);
   border-top: 1px solid rgba(255,255,255,0.05);
 }    
 
 .wrapper .sidebar ul li a{
   color: #053259;
   display: block;
   text-align: left;
   font-size: larger;
 }
 
 .wrapper .sidebar ul li a .fas{
   width: 25px;
 }
 
 .wrapper .sidebar ul li:hover{
   background-color: #3FA2E4;
 }
     
 .wrapper .sidebar ul li:hover a{
   color: #fff;
 }
