.Home {
  text-align: center;
}

.Home-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Backgroundimg {
  position: fixed;
  min-height: 100%;
  min-width: 100%;
  top: 0;
  margin: 0;
  padding: 0;
  z-index: 5;
}

.quantum-bg {
  position: fixed;
  min-height: 100%;
  min-width: 100%;
  margin: 0;
  padding: 0;
  z-index: 10;
}

.heading--hidden {
  display: none;
}

.content {
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
}

.content-wrapper {
  margin-left: 50px;
  transition: all 1s ease-in;
}

.content-flexbox {
  display: inline-flex;
  padding-right: 5px;
}

.heading-text {
  text-align: left;
  font-size: 50px;
  font-weight: bolder;
  padding-bottom: 30px;
  margin-bottom: 50px;
}

.technoboy {
  margin: 5px;
  margin-bottom: 60px;
  z-index: 50;
}

.explore-btn {
  border: 1px solid #4dceff;
  background-color: transparent;
  height: 50px;
  width: 250px;
  font-size: 25px;
  color: #fff;
  position: relative;
  z-index: 20;
  text-decoration: none;
  transition: 0.2s;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  border-radius: 50px;
  margin-top: 20px;
}

.button-wrapper {
  float: left;
  margin-left: 40px;
}

.signin-btn {
  background-color: rgba(45, 148, 216, 1);
  height: 60px;
  width: 300px;
  font-size: 25px;
  color: #fff;
  border: none;
  position: relative;
  z-index: 20;
  margin-right: 60px;
  text-decoration: none;
  transition: 0.2s;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  border-radius: 50px;
}
.heading {
  z-index: 50;
}

.animation {
  z-index: 50;
}

.animation--hidden {
  display: none;
}

.register-btn {
  border: 1px solid #4dceff;
  background-color: transparent;
  height: 60px;
  width: 300px;
  font-size: 25px;
  color: #fff;
  position: relative;
  z-index: 20;
  margin-right: 60px;
  text-decoration: none;
  transition: 0.2s;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  border-radius: 50px;
}

.signin-btn:hover {
  background-image: linear-gradient(to right, #033996 0%, #4c9ffe 100%);
  width: 350px;
  border: none;
  position: relative;
  z-index: 17;
  transition-delay: 0.25s;
  cursor: pointer;
  text-decoration: none;
  transition: 0.2s;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  border-radius: 50px;
}

.register-btn:hover {
  background-image: linear-gradient(to right, #4cccfe 0%, #003796 100%);
  width: 350px;
  color: #fff;
  border: none;
  position: relative;
  z-index: 17;
  transition-delay: 0.25s;
  cursor: pointer;
  text-decoration: none;
  transition: 0.2s;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  border-radius: 50px;
}

.explore-btn:hover {
  background-image: linear-gradient(to right, #033996 0%, #4c9ffe 100%);
  color: #fff;
  border: none;
  width: 300px;
  position: relative;
  z-index: 17;
  transition-delay: 0.25s;
  cursor: pointer;
  text-decoration: none;
  transition: 0.2s;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  border-radius: 50px;
}

.explore-btn--hidden {
  display: none;
}

/* Animations */
.alert-enter {
  opacity: 0;
  transform: scale(0.9);
}
.alert-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}
.alert-exit {
  opacity: 1;
}
.alert-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}
.register-btn:focus,
.signin-btn:focus,
.explore-btn:focus {
  outline: 0;
}
