.App {
  text-align: center;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Backgroundimg {
  position: fixed;
  min-height: 100%;
  min-width: 100%;

  top: 0;
  margin: 0;
  padding: 0;
  z-index: 5;
}

.quantum-bg {
  position: fixed;
  min-height: 100%;
  min-width: 100%;
  margin: 0;
  padding: 0;
  z-index: 10;
}

.register-text {
  margin: 10px;
  font-family: 'Raleway', sans-serif;
  font-size: 25px;

  display: inline-block;
}

.register-text-link {
  margin: 10px;
  font-family: 'Raleway', sans-serif;
  font-size: 25px;
  text-decoration: underline;
  text-underline-position: under;
  color: #4cccfe;
  display: inline-block;
}

.loginBck {
  position: relative;
  font-family: raleway;
  background-image: linear-gradient(
    rgba(45, 148, 216, 0.45) 30%,
    rgba(34, 74, 170, 0.45)
  );
  padding: 20px 75px 25px 75px;
  display: block;
  border-radius: 8px;
  z-index: 20;
}

.login-title {
  font-family: 'Raleway', sans-serif;
  margin: 20px;
}

.label-text {
  font-family: 'Raleway', sans-serif;
  font-size: 25px;
}

.PasswordTf {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  margin: 20px;
  padding: 10px;
  border-width: 0px;
  outline: none;
  font-size: 70%;
  border-radius: 30px;

  width: 400px;
}

.signin-input-icons img {
  position: absolute;
}

.signin-input-icons {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 20px;
}

.btn{
  color: white !important;
  border-color: #4dceff !important;
}

.icon {
  padding: 5px 0px 0px 15px;
  min-width: 40px;
}

.email-input-field {
  width: 400px;
  text-align: left;
  padding: 10px 0px 10px 60px;
  border-radius: 30px;
  border-width: 0px;
  outline: none;
  font-size: 70%;
  font-family: 'Raleway', sans-serif;
  color: black;
}

.password-input-field {
  width: 400px;
  text-align: left;
  padding: 10px 0px 10px 60px;
  border-radius: 30px;
  border-width: 0px;
  outline: none;
  font-size: 70%;
  font-family: 'Raleway', sans-serif;
  color: black;
}

.email-input-field:focus {
  background-color: #d3d3d3;
  width: 400px;
  border: 2px solid rgb(19, 90, 223) !important;
  text-align: left;
  padding: 10px 0px 10px 60px;
  border-radius: 30px;
  border-width: 0px;
  outline: none;
  font-size: 70%;
  font-family: 'Raleway', sans-serif;
}

.password-input-field:focus {
  background-color: #d3d3d3;
  width: 400px;
  border: 2px solid rgb(19, 90, 223) !important;
  text-align: left;
  padding: 10px 0px 10px 60px;
  border-radius: 30px;
  border-width: 0px;
  outline: none;
  font-size: 70%;
  font-family: 'Raleway', sans-serif;
}

.UsernameBlock {
  background-color: white;
  border-radius: 160px;
}

.PasswordBlock {
  background-color: white;
  border-radius: 160px;
}

.profileIcon input[type='text'] {
  padding-left: 40px;
}

.profileIcon {
  position: absolute;
}

.profileIcon i {
  position: relative;
  left: 0;
  top: 8px;
  padding: 9px 8px;
  color: #aaa;
}

.profileIcon input[type='text'] + i {
  color: dodgerblue;
}
