.afroboy {
  margin-left: 3.15vw;
  margin-top: 1.5vh;
}
.title-txt {
  margin-top: 25px;
  margin-left: 50px;
  color: #053259;
}
.heading {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.pizza {
  background-color: #bdbdbd;
  height: 3px;
  width: 94vw;
  text-align: center;
  margin: auto;
  border: 0;
  margin-top: 1.5vh;
  border-radius: 30px;
}
.profileContent {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 85vw;
  margin: 0 auto;
}

.profile-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 5vw;
}
.profileIcon {
  margin-top: 5vh;
  border-radius: 50%;
  width: 325px;
  height: 325px;
  background: grey;
  -webkit-box-shadow: 9px 7px 108px -27px rgba(0, 0, 0, 0.18);
  -moz-box-shadow: 9px 7px 108px -27px rgba(0, 0, 0, 0.18);
  box-shadow: 9px 7px 108px -27px rgba(0, 0, 0, 0.18);
}
.accounttypeinfo {
  display: flex;
  margin: 0.5vw;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
  background-color: #224aaa;
  margin-top: 125%
}
.accounttype_heading {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    color: white;
    margin: 1% 2%;
}
.accounttype {
  color: white;
}
.viewdash-btn {
  border: 0;
  background-color: #224aaa;
  height: 60px;
  width: 325px;
  font-size: 25px;
  color: #fff;
  transition: 0.2s;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  border-radius: 7px;
  margin-top: 20px;
}
.viewdash-btn:hover {
  background-color: #001777;
  width: 335px;
}
.viewdash-btn:focus {
  outline: 0;
}

.logout-btn {
  border: 0;
  background-color: #f5411b;
  height: 60px;
  width: 325px;
  font-size: 25px;
  color: #fff;
  transition: 0.2s;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  border-radius: 7px;
  margin-top: 20px;
}
.logout-btn:hover {
  background-color: #c24226;
  width: 335px;
}
.logout-btn:focus {
  outline: 0;
}

.profile-right {
  margin-left: 5vw;
}
.profiledetails {
  margin-top: 5vh;
  height: 56vh;
  width: 59vw;
  background-color: white;
  border-radius: 7px;
  -webkit-box-shadow: 9px 11px 106px -25px rgba(0, 0, 0, 0.54);
  -moz-box-shadow: 9px 11px 106px -25px rgba(0, 0, 0, 0.54);
  box-shadow: 9px 11px 106px -25px rgba(0, 0, 0, 0.54);
  position: relative;
}
.editdetails-btn {
  border: 0;
  background-color: #224aaa;
  height: 40px;
  width: 200px;
  font-size: 20px;
  color: #fff;
  transition: 0.2s;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  border-radius: 7px;
  margin-top: 20px;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 10px;
}
.editdetails-btn:hover {
  background-color: #001777;
  width: 225px;
}
.editdetails-btn:focus {
  outline: 0;
}
.editdetails-btn--hidden {
  display: none;
}
.savedetails-btn {
  border: 0;
  background-color: #224aaa;
  height: 40px;
  width: 200px;
  font-size: 20px;
  color: #fff;
  transition: 0.2s;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  border-radius: 7px;
  margin-top: 20px;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 10px;
}
.savedetails-btn:hover {
  background-color: #001777;
  width: 225px;
}
.savedetails-btn:focus {
  outline: 0;
}
.savedetails-btn--hidden {
  display: none;
}
.profiledetails--hidden {
  display: none;
}
.userforms--hidden {
  display: none;
}
.canceldetails-btn {
  border: 0;
  background-color: #ff4b2b;
  height: 40px;
  width: 200px;
  font-size: 20px;
  color: #fff;
  transition: 0.2s;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  border-radius: 7px;
  margin-top: 20px;
  position: absolute;
  bottom: 0;
  right: 235px;
  margin: 10px;
}
.canceldetails-btn:hover {
  background-color: #cc1800;
  width: 225px;
}
.canceldetails-btn:focus {
  outline: 0;
}
.canceldetails-btn--hidden {
  display: none;
}
#edit-profile-form {
  margin: 40px;
}
.userdetailformactive {
  pointer-events: auto;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  padding: 12px;
  margin-top: 1%;
  outline: none;
  font-family: "Raleway", sans-serif;
  font-size: 95%;
  border-radius: 2px;
  width: 400px;
  height: 45px;
  justify-content: flex-start;
  display: flex;
  border: 2px solid #d3d3d3;
}
.userdetailformdisabled {
  font-family: "Raleway", sans-serif;
  pointer-events: none;
  background-color: #d3d3d3;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  margin-top: 1%;
  padding: 12px;
  border-width: 0px;
  outline: none;
  font-size: 95%;
  border-radius: 2px;
  width: 400px;
  height: 45px;
  justify-content: flex-start;
  display: flex;
}
#emailaddress {
  width: 100%;
  margin-top: 1%;
}

#editemailaddress {
  width: 100%;
  margin-top: 1%;
}

.firstn {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 13px;
  color: grey;
  padding-top: 5%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.lastn {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 13px;
  color: grey;
  padding-top: 5%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.stuid,
.emailadd,
.passw {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 13px;
  color: grey;
  margin-top: 8%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
}
.fnln,
.idpass {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
