.reset-text {
  white-space: pre-wrap;
  margin: 10px;
  font-family: 'Raleway', sans-serif;
  font-size: 25px;
}

.submit-btn {
  border-color: #4dceff !important;
  background-color: transparent;
  height: 50px;
  width: 250px;
  font-size: 25px;
  color: #fff !important;

  margin: 20px;
  text-decoration: none;
  transition: 0.2s;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  border-radius: 50px;
}

.submit-btn:hover {
  background-image: linear-gradient(to right, #4cccfe 0%, #003796 100%);
  width: 300px;
  color: #fff;
  border: none;
  transition-delay: 0.25s;
  cursor: pointer;
  text-decoration: none;
  transition: 0.2s;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  border-radius: 50px;
}

.cancel-btn {
  border-color: #4dceff;
  background-color: transparent;
  height: 50px;
  width: 250px;
  font-size: 25px;
  color: #fff;

  margin: 20px;
  text-decoration: none;
  transition: 0.2s;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  border-radius: 50px;
}

.cancel-btn:hover {
  width: 300px;
  background-image: linear-gradient(to right, #ff416c 0%, #ff4b2b 100%);
  color: #fff;
  border: none;
  transition-delay: 0.25s;
  cursor: pointer;
  text-decoration: none;
  transition: 0.2s;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  border-radius: 50px;
}

.input-icons img {
  position: absolute;
}

.input-icons {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
}

.icon {
  padding: 5px 0px 0px 15px;
  min-width: 40px;
}

.email-input-field {
  width: 400px;
  text-align: left;
  padding: 10px 0px 10px 60px;
  border-radius: 30px;
  border-width: 0px;
  outline: none;
  font-size: 70%;
}

.email-input-field:focus {
  background-color: #d3d3d3;
  width: 400px;
  border: 2px solid rgb(19, 90, 223) !important;
  text-align: left;
  padding: 10px 0px 10px 60px;
  border-radius: 30px;
  border-width: 0px;
  outline: none;
  font-size: 70%;
}
.cancel-btn:focus, .submit-btn:focus {
    outline: 0;
}