* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: sans-serif;
}
.nav-bar {
  background: #05375F;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  height: 60px;
}
.nav-left,
.nav-right {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.nav-right {
  justify-content: flex-end;
}

.ham-icon {
  float: left;
  height: 30px;
  padding-right:40px;

}
.uts-icon {
  float: left;
  height: 35px;
  padding-left: 40px;
  padding-top: 5px;
}
.circuit-icon {
  float: right;
  margin-right: 25px;
  height: 35px;
}
.graph-icon {
  float: right;
  height: 30px;
  padding-left: 25px;
  margin-right: 25px;
}
.user-icon {
  float: right;
  height: 30px;
  padding-left: 25px;
  margin-top: 5px;

}
.search-input{
  background: #FFFFFF;
  width: 550px;
  height: 35px;
  border: 1px solid #FFFFFF;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  padding: 10px;
  padding-left: 15px;
  font-size: 14px;
}
.search-input:hover, .search-input:focus{
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 7px #9ecaed;
}
.search-btn{
  height: 35px;
  background-color: #3FA2E5;
  border: none;
  padding: 0 15px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  font-size: 14px;
  color: #ffffff;
  float: right;
  position: absolute;
  right: 0px;
  width: 70px;
  outline: 0;
}
.search-btn:hover{
    transition-duration: 0.15s;
    background-color: #0C6FB2;
}
.search-form{
  display: flex;
  align-items: center;
  position: relative;
}
/* @media screen and (max-width: 1000px) {
  .search-input{
    width: 400px;
  }

  .graph-icon{
    margin-right: 25px;
  }
  .user-icon{
    margin-right: 25px;
  }
  .circuit-icon{
    margin-right: 25px;
  }
  .ham-icon{
    margin-left: 25px;
  }
  .uts-icon{
    margin-right: 25px;
  }
} */
