.App {
    text-align: center;
  }
  
  .App-header {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .Backgroundimg {
    position: fixed;
    min-height: 100%;
    min-width: 100%;
  
    top: 0;
    margin: 0;
    padding: 0;
    z-index: 5;
  }
  
  .quantum-bg {
    position: fixed;
    min-height: 100%;
    min-width: 100%;
    margin: 0;
    padding: 0;
    z-index: 10;
  }
  
  .confirmBck {
    position: relative;
    font-family: raleway;
    background-image: linear-gradient(
      rgba(45, 148, 216, 0.45) 30%,
      rgba(34, 74, 170, 0.45)
    );
    padding: 20px 75px 25px 75px;
    display: block;
    border-radius: 8px;
    z-index: 20;
  }
  
  .register-title {
    font-family: 'Raleway', sans-serif;
    margin: 20px;
  }
  
  .label-text {
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
  }
  
  .Emailimg {
    margin: 30px 0px 30px 0px;
  }
  
  .continueBtn {
    border-color: #4dceff !important;
    background-color: transparent;
    height: 50px;
    width: 250px;
    font-size: 25px;
    color: #fff !important;
    position: relative;
    z-index: 20;
    text-decoration: none;
    transition: 0.2s;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    border-radius: 50px;
    margin-top: 13px;
    margin-bottom: 10px;
  }
  
  .continueBtn:hover {
    border: none;
    background-image: linear-gradient(to right, #033996 0%, #4c9ffe 100%);
    color: #fff;
    width: 300px;
    position: relative;
    z-index: 17;
    transition-delay: 0.25s;
    cursor: pointer;
    text-decoration: none;
    transition: 0.2s;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    border-radius: 50px;
  }

  .validationcode-input-field {
    background-color: #d3d3d3;
    width: 400px;
    border: 2px solid rgb(19, 90, 223) !important;
    text-align: left;
    padding: 10px 0px 10px 60px;
    border-radius: 30px;
    border-width: 0px;
    outline: none;
    font-size: 70%;
    font-family: 'Raleway', sans-serif;
  }