* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: sans-serif;
}
.footer {
  background: rgb(10, 23, 92);
  height: 60px;
  position: relative;
  display: flex;
  bottom: 0;
  width: 100%;
  height: 10px;
  z-index: 50;
}
.icon-website {
  color: #fffffd;
  font-size: 10px;
}
.a {
  color: #3fa2e5;
}
