.App {
  text-align: center;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Backgroundimg {
  position: fixed;
  min-height: 100%;
  min-width: 100%;

  top: 0;
  margin: 0;
  padding: 0;
  z-index: 5;
}

.login-text {
  margin: 10px;
  font-family: "Raleway", sans-serif;
  font-size: 25px;

  display: inline-block;
}

.login-text-link {
  margin: 10px;
  font-family: "Raleway", sans-serif;
  font-size: 25px;
  text-decoration: underline;
  text-underline-position: under;
  color: #4cccfe;
  display: inline-block;
}

.quantum-bg {
  position: fixed;
  min-height: 100%;
  min-width: 100%;
  margin: 0;
  padding: 0;
  z-index: 10;
}

.registerBck {
  position: relative;
  font-family: raleway;
  background-image: linear-gradient(
    rgba(45, 148, 216, 0.45) 30%,
    rgba(34, 74, 170, 0.45)
  );
  padding: 20px 75px 25px 75px;
  display: block;
  border-radius: 8px;
  z-index: 20;
}

.register-title {
  font-family: "Raleway", sans-serif;
  margin: 20px;
}

.label-text {
  font-family: "Raleway", sans-serif;
  font-size: 25px;
}

.register-input-icons img {
  position: absolute;
}

.register-input-icons {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 20px;
}

.icon {
  padding: 5px 0px 0px 15px;
  min-width: 40px;
}
.username-input-field {
  width: 400px;
  text-align: left;
  padding: 10px 0px 10px 60px;
  border-radius: 30px;
  border-width: 0px;
  outline: none;
  font-family: 'Raleway', sans-serif;
  font-size: 70%;
  font-family: "Raleway", sans-serif;
  color: black;
}

.email-input-field {
  width: 400px;
  text-align: left;
  height: 48px;
  padding: 10px 0px 10px 60px;
  border-radius: 30px;
  border-width: 0px;
  outline: none;
  font-size: 70%;
  font-family: "Raleway", sans-serif;
  color: black;
}

.password-input-field {
  width: 400px;
  text-align: left;
  padding: 10px 0px 10px 60px;
  border-radius: 30px;
  border-width: 0px;
  outline: none;
  font-size: 70%;
  font-family: "Raleway", sans-serif;
  color: black;
}

.confirm-password-input-field {
  width: 400px;
  text-align: left;
  padding: 10px 0px 10px 60px;
  font-family: Raleway;
  border-radius: 30px;
  border-width: 0px;
  outline: none;
  font-size: 70%;
  font-family: "Raleway", sans-serif;
  color: black;
}

.email-input-field:focus {
  background-color: #d3d3d3;
  width: 400px;
  box-shadow: aqua;
  /* border: 2px solid rgb(19, 90, 223) !important; */
  text-align: left;
  padding: 10px 0px 10px 60px;

  height: 48px;
  border-radius: 30px;
  border-width: 0px;
  outline: none;
  font-size: 70%;
  font-family: "Raleway", sans-serif;
}

.username-input-field:focus {
  background-color: #d3d3d3;
  width: 400px;
  border: 2px solid rgb(19, 90, 223) !important;
  text-align: left;
  padding: 10px 0px 10px 60px;
  border-radius: 30px;
  border-width: 0px;
  outline: none;
  font-size: 70%;
  font-family: "Raleway", sans-serif;
}

.confirm-password-input-field:focus {
  background-color: #d3d3d3;
  width: 400px;
  border: 2px solid rgb(19, 90, 223) !important;
  text-align: left;
  padding: 10px 0px 10px 60px;
  border-radius: 30px;
  border-width: 0px;
  outline: none;
  font-size: 70%;
  font-family: "Raleway", sans-serif;
}

.password-input-field:focus {
  background-color: #d3d3d3;
  width: 400px;
  border: 2px solid rgb(19, 90, 223) !important;
  text-align: left;
  padding: 10px 0px 10px 60px;
  border-radius: 30px;
  border-width: 0px;
  outline: none;
  font-size: 70%;
  font-family: "Raleway", sans-serif;
}

.Signup {
  border-color: #4dceff !important;
  background-color: transparent;
  height: 50px;
  width: 250px;
  font-size: 25px;
  color: #fff !important;
  position: relative;
  z-index: 20;
  text-decoration: none;
  transition: 0.2s;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  border-radius: 50px;
  margin-top: 13px;
  margin-bottom: 10px;
}

.forgotPass-btn {
  border-color: #4dceff;
  background-color: transparent;
  height: 50px;
  width: 275px;
  font-size: 25px;
  color: #fff;
  position: relative;
  z-index: 20;
  text-decoration: none;
  transition: 0.2s;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  border-radius: 50px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.Signup:hover {
  border: none;
  background-image: linear-gradient(to right, #033996 0%, #4c9ffe 100%);
  color: #fff;

  width: 300px;
  position: relative;
  z-index: 17;
  transition-delay: 0.25s;
  cursor: pointer;
  text-decoration: none;
  transition: 0.2s;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  border-radius: 50px;
}
.forgotPass-btn:hover {
  border: none;
  background-image: linear-gradient(to right, #4cccfe 0%, #003796 100%);
  width: 325px;
  position: relative;
  z-index: 17;
  transition-delay: 0.25s;
  cursor: pointer;
  text-decoration: none;
  transition: 0.2s;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  border-radius: 50px;
}

.UsernameBlock {
  background-color: white;
  border-radius: 160px;
}

.PasswordBlock {
  background-color: white;
  border-radius: 160px;
}

.profileIcon input[type="text"] {
  padding-left: 40px;
}

.profileIcon {
  position: absolute;
}

.profileIcon i {
  position: relative;
  left: 0;
  top: 8px;
  padding: 9px 8px;
  color: #aaa;
}

.profileIcon input[type="text"] + i {
  color: dodgerblue;
}
.Signup:focus,
.forgotPass-btn:focus {
  outline: 0;
}
