.cards-list {
    display: flex;
    flex-wrap: wrap;
    align-items: left;
    justify-content: left;
    padding-left: 50px;
  }
 .class-item{
    margin: 10px;
    padding-left: 15px;
  } 
.container{
    width: 100%; 
    overflow: hidden
}
.side-menu{
    width: 200px; 
    float: left;
}
.classes{
    margin-left: 200px;
    padding-top: 10px;
}

.open-modal {
    display: inline-block;
    border: none;
    padding: 1rem 2rem;
    margin: 0;
    text-decoration: none;
    background: #3FA2E5;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    border-radius: 25px;
}

.open-modal:hover{
    background: #0C6FB2;
}
