
.card {
    margin: 20px auto;
    width: 250px;
    height: 350px;
    -webkit-box-shadow: 11px 11px 74px -27px rgba(0,0,0,0.65);
    -moz-box-shadow: 11px 11px 74px -27px rgba(0,0,0,0.65);
    box-shadow: 11px 11px 74px -27px rgba(0,0,0,0.65);
    cursor: pointer;
  }

  .class-image{
    width: 250px;
    height: 150px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  .card:hover {
    width: 260px;
    transition-duration: 0.3s;
  }


  .class-title {
    color: #05375F;
    font-size: 20px;
  }
