
.container{
    max-width: 100%; 
    overflow: hidden;
    
}
.side-menu{
    max-width: 20%; 
    float: left;
}
.right-container{
    padding-top: 5px;
    height: 1000px;
    max-width: 100%;
    align-content: center;
    align-items: center;
}
.class-container{
    display: inline-block;
    margin: 0 auto;
    padding: 3px;
    width: 50%;
    height: 100%;
}
.class-header{
    margin: 0 auto;
    padding: 3px;
    width: 100%;
    height: 200px;
    border-radius: 10px;
    border: gainsboro;
    position: relative;
}
.class-image-header{
    height: 100%;
    width: 100%;
    border-radius: 10px;
}
.class-body{
    width: 100%;
    height: 800px;
    background-color: #05375F;
    border-radius: 10px;
}
.class-item-modal{
    float: left;
}
.name-class{
    color: #FFFFFF;
    position: absolute;
    top: 10px;
    left: 16px;
      font-family: 'Raleway', sans-serif;
}
.code-class{
    color: #FFFFFF;
    position: absolute;
    bottom: 10px;
    left: 20px;
}

.left-side-body{
    width: 70%;
    height: 100%;
    background-color: #FFFFFF;
    position: relative;
    display: flex;
    flex-direction: column;
}
.body-items{
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.AddAssignmentBtn{
    height: 40px;
    width: 200px;
    background-color: #3FA2E5;
    color: #FFFFFF;
    border-radius: 20px;
    font-size: 16px;
    margin-top: 10px;
}
.AddAssignmentBtn:hover {
    background-color: #0C6FB2;
}
.assignments-list {
    
    flex-wrap: wrap;
    align-items: left;
    justify-content: left;
    height: 500px;
    
  }
 .assignment-item{
    margin: 10px;
    background-color: #FFFFFF;
    max-width: 100%;
  } 