@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
.class-modal-bg{
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: visibility 0s , opacity 0.5s;
}

.create-modal{
  background-color: #FFFFFF;
  height: 35%;
  width: 25%;
  position: relative;
  border-radius: 15px;
}

.close-btn{
  position: absolute;
  top: 20px;
  right: 20px;
  font-weight: bold ;
  cursor: pointer;
  size: 5px;
  font-size: 18px;
  color: #05375F;
  
}

h3{
  color: #05375F;
  align-content: center;
  padding-top: 25px;
}
.create-class-btn{
  
  margin-top: 2rem;
  padding: 10px 30px;
  font-weight: bold;
  border: 2px solid #05375F;
  color: #FFFFFF;
  border-radius: 25px;
  background: transparent;
  transition: all 1000ms;
    font-family: 'Raleway', sans-serif;
  align-self: start;
  background-color: #05375F;

}

.class-form{
  --text-color: #05375F;
  max-width: 100%;
  margin: 2em 0;
  
}

.field{
  width: 50%;
  flex-flow: column-reverse;
  border-bottom: 2px dashed var(--text-color);
  margin: 2em auto 1rem;
 
}

.label{
  color: var(--text-color);
  font-size: 1.2em;
  float: left;
  font-weight: bold;
      font-family: 'Raleway', sans-serif;
}
.input-text{
  outline: none;
  border: none;
  overflow: hidden;
  margin: 0;
  width: 100%;
  padding: 0.25em 0;
  color: #05375F;
  font-size: 1.0em;
  font-weight: bold;
  transition: border 500ms;
}
.field::after{
  content: "";
  position: relative;
  display: block;
  height: 2px;
  width: 100%;
  background: #05375F;
  transform: scaleX(0);
  transform-origin: 0%;
  transition: all 500ms ease;
  top: 2px;
  opacity: 0;
}
.field:focus-within {
  border-color: transparent;
}

.field:focus-within::after{
  transform: scaleX(1);
  opacity: 1;
} 

.label{
  z-index: -1;
  transform: translateY(-1.2rem);
  transform-origin: 0%;
  transition: transform 750ms;
}

.field:focus-within .label,
  .input-text:not(:placeholder-shown) + .label {
    transform: scale(0.8) translateY(-3.5rem);
    opacity: 1;
  }

