*:focus {
  outline: none;
}

#clear-circuit:hover,
#save-circuit:hover,
#redo-circuit:hover,
#submit-circuit:hover,
#undo-circuit:hover,
#load-circuit:hover {
  transition-duration: 0.15s;
  background-color: #0c6fb2;
}

.CircuitApp {
  text-align: left;
  color: black;
  cursor: auto;
  display: flex;
  flex-direction: column;
  background-color: #f3f5f9;
}

.ButtonBar {
  min-height: 40px;
  height: fit-content;
  display: flex;
  flex-direction: row;
  background-color: #3fa2e4;
  -webkit-box-shadow: -1px 8px 15px -3px rgba(0, 0, 0, 0.32);
  box-shadow: -1px 8px 15px -3px rgba(0, 0, 0, 0.32);
}

.clear-icon,
.save-icon,
.redo-icon,
.submit-icon,
.undo-icon,
.load-icon {
  height: auto;
  margin-top: 3%;
  margin-bottom: 3%;
}

#undo-circuit,
#save-circuit,
#clear-circuit {
  border-left: 1px solid #4cccfe;
}

#redo-circuit,
#submit-circuit {
  border-right: 1px solid #4cccfe;
}

#clear-circuit,
#save-circuit,
#redo-circuit,
#submit-circuit,
#undo-circuit,
#load-circuit {
  background-color: transparent;
  padding-left: 1.4%;
  padding-right: 1.4%;
}
#clear-circuit:hover, #save-circuit:hover, #redo-circuit:hover, #submit-circuit:hover, #undo-circuit:hover, #load-circuit:hover {
    transition-duration: 0.15s;
    background-color: #0C6FB2;
}

.Toolbar {
  padding-left: 60px;
  padding-right: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  height: fit-content;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  color: black;
  background-color: white;
  -webkit-box-shadow: 7px 10px 15px -3px rgba(0, 0, 0, 0.32);
  box-shadow: 7px 10px 15px -3px rgba(0, 0, 0, 0.32);
}

.Toolbar-section {
  margin-left: 10px;
  margin-right: 10px;
  width: fit-content;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  min-height: 100%;
    justify-content: flex-start;
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer */
  -khtml-user-select: none;
  /* KHTML browsers (e.g. Konqueror) */
  -webkit-user-select: none;
  /* Chrome, Safari, and Opera */
  -webkit-touch-callout: none;
  /* Disable Android and iOS callouts*/
  user-select: none;
}

.Toolbar-gate-container {
  max-height: 120px;
  display: flex;
  flex-wrap: wrap;
  width: 60%;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer */
  -khtml-user-select: none;
  /* KHTML browsers (e.g. Konqueror) */
  -webkit-user-select: none;
  /* Chrome, Safari, and Opera */
  -webkit-touch-callout: none;
  /* Disable Android and iOS callouts*/
  user-select: none;
}

.Gate {
  width: 60px;
  height: 60px;
  z-index: 1;
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer */
  -khtml-user-select: none;
  /* KHTML browsers (e.g. Konqueror) */
  -webkit-user-select: none;
  /* Chrome, Safari, and Opera */
  -webkit-touch-callout: none;
  /* Disable Android and iOS callouts*/
  user-select: none;
}

.Gate-grabbed {
  position: fixed;
  width: 50px;
  height: 50px;
  background-color: azure;
  pointer-events: none;
  z-index: 1;
}

.GateSpacer {
  width: 40px;
  height: 61px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.Gates-container {
  margin-top: 70px;
  margin-left: 100px;
  display: flex;
  flex-direction: row;
  position: absolute;
  color: black;
  z-index: 1;
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer */
  -khtml-user-select: none;
  /* KHTML browsers (e.g. Konqueror) */
  -webkit-user-select: none;
  /* Chrome, Safari, and Opera */
  -webkit-touch-callout: none;
  /* Disable Android and iOS callouts*/
  user-select: none;
}

.Circuit-container {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 60px;
  margin-bottom: 59px;
  width: 100%;
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer */
  -khtml-user-select: none;
  /* KHTML browsers (e.g. Konqueror) */
  -webkit-user-select: none;
  /* Chrome, Safari, and Opera */
  -webkit-touch-callout: none;
  /* Disable Android and iOS callouts*/
  user-select: none;
}

.QubitLine-container {
  margin-left: 30px;
  margin-right: 30px;
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer */
  -khtml-user-select: none;
  /* KHTML browsers (e.g. Konqueror) */
  -webkit-user-select: none;
  /* Chrome, Safari, and Opera */
  -webkit-touch-callout: none;
  /* Disable Android and iOS callouts*/
  user-select: none;
}

.Line-container {
  display: flex;
  position: relative;
  height: 70px;
  color: #05173A;
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer */
  -khtml-user-select: none;
  /* KHTML browsers (e.g. Konqueror) */
  -webkit-user-select: none;
  /* Chrome, Safari, and Opera */
  -webkit-touch-callout: none;
  /* Disable Android and iOS callouts*/
  user-select: none;
}

.Gates-column-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  color: #05173a;
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer */
  -khtml-user-select: none;
  /* KHTML browsers (e.g. Konqueror) */
  -webkit-user-select: none;
  /* Chrome, Safari, and Opera */
  -webkit-touch-callout: none;
  /* Disable Android and iOS callouts*/
  user-select: none;
}

.Line {
  width: 100%;
  align-self: center;
  color: #05173a;
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer */
  -khtml-user-select: none;
  /* KHTML browsers (e.g. Konqueror) */
  -webkit-user-select: none;
  /* Chrome, Safari, and Opera */
  -webkit-touch-callout: none;
  /* Disable Android and iOS callouts*/
  user-select: none;
}

.Qubit-initial {
  width: 40px;
  margin-top: 26px;
  height: 1px;
  color: black;
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer */
  -khtml-user-select: none;
  /* KHTML browsers (e.g. Konqueror) */
  -webkit-user-select: none;
  /* Chrome, Safari, and Opera */
  -webkit-touch-callout: none;
  /* Disable Android and iOS callouts*/
  user-select: none;
}

.Eye-line-container {
  display: flex;
  position: relative;
  align-items: center;
  height: 70px;
    margin-left: 20px;
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer */
  -khtml-user-select: none;
  /* KHTML browsers (e.g. Konqueror) */
  -webkit-user-select: none;
  /* Chrome, Safari, and Opera */
  -webkit-touch-callout: none;
  /* Disable Android and iOS callouts*/
  user-select: none;
}

.Eye {
  width: 30px;
  height: 30px;
  margin-left: 5px;
  margin-right: 5px;
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer */
  -khtml-user-select: none;
  /* KHTML browsers (e.g. Konqueror) */
  -webkit-user-select: none;
  /* Chrome, Safari, and Opera */
  -webkit-touch-callout: none;
  /* Disable Android and iOS callouts*/
  user-select: none;
}

.Eye-Line {
  width: 100%;
  align-self: center;
  color: #0057e8;
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer */
  -khtml-user-select: none;
  /* KHTML browsers (e.g. Konqueror) */
  -webkit-user-select: none;
  /* Chrome, Safari, and Opera */
  -webkit-touch-callout: none;
  /* Disable Android and iOS callouts*/
  user-select: none;
}

.Eyes-container {
  margin-left: 100px;
  display: flex;
  flex-direction: row;
  position: absolute;
  color: black;
  z-index: 1;
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer */
  -khtml-user-select: none;
  /* KHTML browsers (e.g. Konqueror) */
  -webkit-user-select: none;
  /* Chrome, Safari, and Opera */
  -webkit-touch-callout: none;
  /* Disable Android and iOS callouts*/
  user-select: none;
}

.Measurement-container {
  text-align: center;
  display: flex;
  flex-direction: row;
  width: fit-content;
  margin-left: 70px;
  margin-bottom: 10px;
}

.Measurement-column {
  width: 60px;
  display: flex;
  flex-direction: column-reverse;
  height: 120px;
}

.Measurement-bar {
  background-color: red;
  margin-left: 20px;
  margin-right: 20px;
}

.Focused-column-container {
  font-family: Courier;
  width: fit-content;
  background-color: #ffbb96;
  display: none;
}

.chart-container {
  width: 400px;
}

.Output-title {
  padding: 30px;
  padding-left: 60px;
  float: left;
  font-weight: bold;
  font-size: 25px;
  color: #05173a;
}

.Circuit-submission {
  min-height: 361px;
  background: #05173a;
  padding: 30px;
}

.grid {
  display: grid;
  grid-template-columns: 70% 30%;
}

.grid-element1 {
  grid-column: 1;
  grid-row: 1;
  height: 361px;
}

.grid-element2 {
  grid-column: 2;
  grid-row: 1;
  height: 361px;
  background: white;
}

.Task-title {
  padding-left: 30px;
  color: white;
}

.Task-test {
  color: white;
  padding-left: 30px;
  padding-top: 30px;
}

.Task-description {
  padding-left: 30px;
  color: white;
}

.Task-list {
  color: white;
  padding-top: 10px;
  padding-left: 30px;
}

.submission-button {
  background-color: #05173a;
  color: white;
  font-size: 15px;
  font-weight: 900;
  border: 5px solid #3260d2;
  border-radius: 8px;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.submission-button:hover {
  background-color: #3260d2;
}

.submission-button-middle {
  margin: 0 auto;
  display: block;
  text-align: center;
}

.Gates-title {
  writing-mode: tb-rl;
  font-size: 40px;
  font-weight: bold;
  color: #05173a;
  padding-right: 20px;
}

.Gates-title2 {
  font-size: 20px;
  font-weight: bold;
  color: #05173a;
}

.square {
  display: inline-block;
  border-radius: 5px;
  background: #05173a;
  border: 3px solid #3260d2;
  height: 15px;
  width: 15px;
  vertical-align: middle;
}
